<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LawLevelGetSample</servlet-name>
		<servlet-class>org.jpn.techbooster.sample.lawlevelgetsample.LawLevelGetSampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LawLevelGetSample</servlet-name>
		<url-pattern>/lawlevelgetsample</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>PostServletSample</servlet-name>
		<servlet-class>org.jpn.techbooster.sample.lawlevelgetsample.PostServletSample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServletSample</servlet-name>
		<url-pattern>postservletsample</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetServletSample</servlet-name>
		<servlet-class>org.jpn.techbooster.sample.lawlevelgetsample.GetServletSample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetServletSample</servlet-name>
		<url-pattern>getservletsample</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>LawLevelGetSample</welcome-file>
	</welcome-file-list>
</web-app>
